.bridging{
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bridging__title{
    font-size: 80px;
    font-weight: 800;

    background: linear-gradient(120.79deg, #242424 3.25%, #E92129 75.17%);

    background-clip: text;
    color: transparent;
}

.bridging-img{
    width: 600px;
    margin-top: 120px;
}

@media (max-width:1366px){
    .bridging__title{
        font-size: 65px;
    }

    .bridging-img{
        width: 545px;
        height: 488px;
    }
}

@media(max-width:1024px){
    .bridging__title{
        font-size: 45px;
    }

    .bridging-img{
        width: 495px;
        height: 438px;
    }
}

@media(max-width:800px){
    .bridging__title{
        font-size: 40px;
    }

     .bridging-img{
        width: 485px;
        height: 428px;
    }
}