.testimonial{
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    align-items: center;

    margin-top: 248px;
}

.testimonial__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
}

.swiper-button-prev{
    rotate: 90;
}

.swiper-button-next{
    transform: rotate(90deg);
}

.swiper-button-prev{
    transform: rotate(-90deg);
}
.testimonial__title{
    font-weight: 800;
    font-size: 80px;
    
    margin-bottom: 0;
}

.testimonial__description{
    font-weight: 400;
    font-size: 18px;
}

.card-2{
    display: none;
}

.testimonial__button{
    width: 178px;
    height: 52px;
    
    border-radius: 12px;
    border-style: none;

    font-weight: 700;
    font-size: 16px;

    background: #E92129;
    color: white;

    cursor: pointer;
}

.testimonial__slider{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.testimonial__icon-img{
    width: 72px;
    height: 72px;
}

.card__content{
    display: flex;
}

.testimonial__slider-card{

    box-shadow: 0px 4px 32px 0px #0000001A;
}

.testimonial-card-1{
    width: 618px;
    margin-right: 20px;
}

.testimonial-card-2{
    width: 700px;
}

.testimonial__text-name{
    color: #E4252C;

    font-weight: 700;
    font-size: 36px;
}

.testimonial__card-description{
    font-weight: 400;
    font-size: 20px;
}

.testimonial-card-2{
    display: none;
}

@media (max-width:1366px){
    .testimonial__title{
        font-size: 55px;
    }

    .testimonial__content{
        margin-right: 0;
    }

    .testimonial-card-1{
        width: 638px;
    }
    .testimonial__icon-img{
        width: 72px;
        height: 72px;
    }
    .testimonial__card-description{
        font-size: 18px;
    }
}

@media (max-width:1024px) {
    .testimonial__content{
        margin-right: 10px;
    }
    .testimonial__title{
        font-size: 40px;
    }

    .testimonial-card-1{
        width: 488px;
    }
}