.portfolio {
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    align-items: center;

    margin-right: 59px;

    height: 475px;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.portfolio__bank-img,
.portfolio__soider-img{
    display: none;
}

.swiper-button-prev{
    rotate: 90;
}

.portfolio__title {
font-weight: 800;
    font-size: 80px;
    
    margin-bottom: 0;
}

.portfolio__button {
    height: 52px;

    border-radius: 12px;
    border-style: none;

    font-weight: 700;
    font-size: 16px;

    background: #E92129;
    color: white;

    cursor: pointer;
}

.portfolio__description {
    font-weight: 400;
    font-size: 18px;

    color: #1C1C1C;

}


.portfolio__slider{
    display: flex;
}
.swiper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 60px;
    box-sizing: content-box;
}

.swiper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 40px auto 0; 
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color:white;
    border-radius: 50%;
    border-style: none;
    width: 50px;
    height: 50px;
    background: red;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.portfolio__bank-img,
.portfolio__soider-img,
.portfolio__game-img{
    width: 697px;
    height: 400px;
}


@media (max-width:1366px) {
    .portfolio__title {
        font-size: 50px;
    }

    .portfolio__game-img {
        width: 638px;
        height: 342px;
    }
}

@media (max-width:1024px) {
    .portfolio__title {
        font-size: 30px;
    }

    .portfolio__game-img {
        width: 520px;
        height: 330px;
    }
}

@media (max-width:800px) {
    .portfolio__title {
        font-size: 30px;
    }
}