.about{
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 135px;
}

.about__title{
    font-weight: 800;
    margin-right: 80px;

    font-size: 80px;
    color: #242424;
}

.about__subtitle{
    font-weight: 400;
    font-size: 32px;
}

.about__description{
    margin-top: 33px;

    font-weight: 400;
    font-size: 20px;
}

.about__coments{
    color: #000000;
}

.about__comments__history{
    display: flex;
    gap:80px;
    margin-top: 33px;
}

.about-numerus{
    margin: 0;

    font-weight: 700;
    font-size: 50px;
}

.about-numerus-span{
    color: #E4252C;

    font-weight: 700;
    font-size: 50px;
}

.about__description-comments{
    margin: 0;

    font-weight: 400;
    font-size: 16px;
}

@media (max-width:1366px){
    .about__comments__history{
        gap: 50px;
    }
}

@media (max-width:1024px) {
    .about__title{
        font-size:60px;
        margin-right: 40px;
    }

    .about__comments__history{
        gap:40px;
    }
}

@media (max-width:800px){
    .about__comments__history{
        gap:30px;
    }

    .about__title{
        font-size: 50px;
    }
}